@font-face {
  font-family: 'Rajdhani';
  src: url("../fonts/ABeeZee-Regular.woff");
}
/* line 6, ../sass/_custom.scss */
body {
  font-family: 'Rajdhani' !important;
  font-size: 18px;
  background: #fff !important;
}
@media only screen and (max-width: 991px) {
  /* line 6, ../sass/_custom.scss */
  body {
    font-size: 12px !important;
  }
  /* line 12, ../sass/_custom.scss */
  body .btn {
    font-size: 12px !important;
  }
}
/* line 17, ../sass/_custom.scss */
body p {
  margin: 0;
}
/* line 21, ../sass/_custom.scss */
body .preloader {
  display: none !important;
}

/* line 26, ../sass/_custom.scss */
.wfull {
  width: 100%;
}

/*------------------------- CSS @media ---------------------------*/
@media only screen and (min-width: 768px) {
  /* line 32, ../sass/_custom.scss */
  .max-xs {
    display: none;
  }

  /* line 36, ../sass/_custom.scss */
  .min-xs {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  /* line 42, ../sass/_custom.scss */
  .min-sm {
    display: block;
  }

  /* line 46, ../sass/_custom.scss */
  .max-sm {
    display: none;
  }
}
/*-------- max --------*/
@media only screen and (max-width: 767px) {
  /* line 53, ../sass/_custom.scss */
  .max-xs {
    display: block;
  }

  /* line 57, ../sass/_custom.scss */
  .min-xs {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  /* line 63, ../sass/_custom.scss */
  .min-sm {
    display: none;
  }

  /* line 67, ../sass/_custom.scss */
  .max-sm {
    display: block;
  }
}
/*------------------------- // CSS @media  ---------------------------*/
/* line 74, ../sass/_custom.scss */
.content-top {
  padding-top: 70px !important;
}

/* line 78, ../sass/_custom.scss */
.bg-gray {
  background: #F3F3F4;
}

/* line 82, ../sass/_custom.scss */
.container-fluid-default {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 1200px) {
  /* line 82, ../sass/_custom.scss */
  .container-fluid-default {
    max-width: 90%;
  }
}

/* line 94, ../sass/_custom.scss */
.btn {
  padding: 2px 12px !important;
  border-radius: 18px !important;
}

/* line 99, ../sass/_custom.scss */
.sidebar-nav ul li ul li.active a {
  color: #f09228;
}

/* line 104, ../sass/_custom.scss */
#loadding_page {
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
}
/* line 112, ../sass/_custom.scss */
#loadding_page .logos {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 118, ../sass/_custom.scss */
#loadding_page .logos img {
  width: 250px;
  max-width: 300px;
  -webkit-animation: scale 1s linear infinite;
  -moz-animation: scale 1s linear infinite;
  -ms-animation: scale 1s linear infinite;
  -o-animation: scale 1s linear infinite;
}

@keyframes scale {
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
/* line 141, ../sass/_custom.scss */
.navbar-header .navbar-brand img {
  width: 125px;
  padding: 10px;
  padding-bottom: 0;
}
@media only screen and (max-width: 767px) {
  /* line 141, ../sass/_custom.scss */
  .navbar-header .navbar-brand img {
    width: 75px;
  }
}

/* line 155, ../sass/_custom.scss */
aside.left-sidebar .sidebar-nav > ul > li.active ul {
  background: #bb680a;
}
/* line 158, ../sass/_custom.scss */
aside.left-sidebar .sidebar-nav > ul > li.active ul li a {
  color: white;
}

/* line 165, ../sass/_custom.scss */
.dropdown-item.active,
.dropdown-item:active {
  color: white !important;
  background-color: #f09228 !important;
}

/* line 171, ../sass/_custom.scss */
.text_dotdot {
  height: 50px;
}
@media only screen and (max-width: 767px) {
  /* line 171, ../sass/_custom.scss */
  .text_dotdot {
    height: 40px;
  }
}
/* line 178, ../sass/_custom.scss */
.text_dotdot .excerpt {
  height: 100%;
}

/* line 184, ../sass/_custom.scss */
span.error {
  color: red;
}

/* line 189, ../sass/_custom.scss */
select.form-control {
  font-size: 13px;
}

/* line 194, ../sass/_custom.scss */
.owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: 45%;
  background: transparent !important;
}
/* line 200, ../sass/_custom.scss */
.owl-nav .owl-prev {
  position: absolute;
  left: 0;
  top: 45%;
  background: transparent !important;
}
/* line 206, ../sass/_custom.scss */
.owl-nav img {
  width: 55px !important;
}

/* line 7, ../sass/_training.scss */
.training {
  border: 1px solid #dddddd;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
}
/* line 13, ../sass/_training.scss */
.training .clauses {
  text-align: right;
  font-size: 30px;
}
/* line 18, ../sass/_training.scss */
.training .head {
  background: #e8e8e8;
  padding: 5px 10px;
  font-size: 30px;
}
/* line 24, ../sass/_training.scss */
.training .radio {
  margin: 16px 0;
  display: inline-block;
  cursor: pointer;
}
/* line 29, ../sass/_training.scss */
.training .radio input {
  display: none;
}
/* line 32, ../sass/_training.scss */
.training .radio input + span {
  line-height: 22px;
  height: 22px;
  padding-left: 22px;
  display: block;
  position: relative;
}
/* line 39, ../sass/_training.scss */
.training .radio input + span:not(:empty) {
  padding-left: 30px;
}
/* line 43, ../sass/_training.scss */
.training .radio input + span:before, .training .radio input + span:after {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}
/* line 55, ../sass/_training.scss */
.training .radio input + span:before {
  background: #D1D7E3;
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
/* line 60, ../sass/_training.scss */
.training .radio input + span:after {
  background: #fff;
  transform: scale(0.78);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
/* line 68, ../sass/_training.scss */
.training .radio input:checked + span:before {
  transform: scale(1.04);
  background: #5D9BFB;
}
/* line 73, ../sass/_training.scss */
.training .radio input:checked + span:after {
  transform: scale(0.4);
  transition: transform .3s ease;
}
/* line 83, ../sass/_training.scss */
.training .radio:hover input + span:before {
  transform: scale(0.92);
}
/* line 87, ../sass/_training.scss */
.training .radio:hover input + span:after {
  transform: scale(0.74);
}
/* line 93, ../sass/_training.scss */
.training .radio:hover input:checked + span:after {
  transform: scale(0.4);
}

/* line 3, ../sass/_dashboard.scss */
.dashboard .banner {
  width: 100%;
  height: 130px;
  object-fit: cover;
  object-position: left;
}
/* line 10, ../sass/_dashboard.scss */
.dashboard .bloge-menu {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px #a0a0a0;
  border-radius: 18px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  /* line 10, ../sass/_dashboard.scss */
  .dashboard .bloge-menu {
    margin-bottom: 0;
  }
}
/* line 22, ../sass/_dashboard.scss */
.dashboard .bloge-menu.disable {
  background: #5e5e5e;
}
/* line 24, ../sass/_dashboard.scss */
.dashboard .bloge-menu.disable img, .dashboard .bloge-menu.disable .text {
  opacity: .3;
}
/* line 30, ../sass/_dashboard.scss */
.dashboard .bloge-menu:hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px #a0a0a0;
}
/* line 38, ../sass/_dashboard.scss */
.dashboard .bloge-menu:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
/* line 49, ../sass/_dashboard.scss */
.dashboard .bloge-menu:hover .text {
  background: #ed1c24;
}
/* line 55, ../sass/_dashboard.scss */
.dashboard .bloge-menu img {
  height: 130px;
  object-fit: cover;
}
@media only screen and (max-width: 767px) {
  /* line 55, ../sass/_dashboard.scss */
  .dashboard .bloge-menu img {
    height: 100px;
  }
}
/* line 63, ../sass/_dashboard.scss */
.dashboard .bloge-menu .text {
  position: relative;
  z-index: 9;
  background: #f09228;
  color: white;
  padding: 5px 12px;
  font-size: 20px;
  border-radius: 0px 0px 15px 15px;
}
@media only screen and (max-width: 991px) {
  /* line 63, ../sass/_dashboard.scss */
  .dashboard .bloge-menu .text {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 63, ../sass/_dashboard.scss */
  .dashboard .bloge-menu .text {
    font-size: 12px;
  }
}
/* line 83, ../sass/_dashboard.scss */
.dashboard .new-list {
  display: flex;
  box-shadow: 0px 0px 10px #d0d0d0;
  border: 3px solid #f09228;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 15px;
  color: black;
}
/* line 92, ../sass/_dashboard.scss */
.dashboard .new-list:hover {
  box-shadow: 0px 0px 10px #a0a0a0;
}
/* line 96, ../sass/_dashboard.scss */
.dashboard .new-list .left {
  font-size: 18px;
}
@media only screen and (max-width: 767px) {
  /* line 96, ../sass/_dashboard.scss */
  .dashboard .new-list .left {
    width: 70%;
    font-size: 15px;
  }
}
/* line 104, ../sass/_dashboard.scss */
.dashboard .new-list .left img {
  width: 70px;
}
@media only screen and (max-width: 767px) {
  /* line 104, ../sass/_dashboard.scss */
  .dashboard .new-list .left img {
    width: 50px;
  }
}
/* line 112, ../sass/_dashboard.scss */
.dashboard .new-list .left .text {
  display: contents;
}
/* line 117, ../sass/_dashboard.scss */
.dashboard .new-list .right {
  border-left: 3px solid #f09228;
  text-align: center;
  margin-left: auto;
  padding: 0px 12px;
}
@media only screen and (max-width: 767px) {
  /* line 117, ../sass/_dashboard.scss */
  .dashboard .new-list .right {
    width: 30%;
  }
}
/* line 127, ../sass/_dashboard.scss */
.dashboard .new-list .right p {
  margin: 0;
}
/* line 130, ../sass/_dashboard.scss */
.dashboard .new-list .right p.int {
  font-size: 35px;
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  /* line 130, ../sass/_dashboard.scss */
  .dashboard .new-list .right p.int {
    font-size: 20px;
  }
}
/* line 142, ../sass/_dashboard.scss */
.dashboard .blog-training {
  background: #F3F3F4;
  border-radius: 25px;
  color: #000;
  padding: 15px;
  margin-bottom: 15px;
}
/* line 149, ../sass/_dashboard.scss */
.dashboard .blog-training button {
  font-size: 12px;
  border: 1px solid #f09228;
  min-height: 75px;
}
/* line 154, ../sass/_dashboard.scss */
.dashboard .blog-training button.scale {
  -webkit-animation: scale 0.8s infinite ease-in;
  -moz-animation: scale 0.8s infinite ease-in;
  -o-animation: scale 0.8s infinite ease-in;
  animation: scale 0.8s infinite ease-in;
}
/* line 165, ../sass/_dashboard.scss */
.dashboard .blog-training .head {
  position: relative;
  padding-left: 15px;
  padding-top: 5px;
}
/* line 170, ../sass/_dashboard.scss */
.dashboard .blog-training .head:before {
  content: '';
  position: absolute;
  border-top: 2px solid #f09228;
  border-left: 2px solid #f09228;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
}
/* line 182, ../sass/_dashboard.scss */
.dashboard .blog-training .blog {
  display: flex;
  border-bottom: 2px solid #f09228;
  padding-bottom: 18px;
  margin-bottom: 18px;
}
/* line 189, ../sass/_dashboard.scss */
.dashboard .blog-training .blog:hover .right .success-stroke {
  stroke: #ed1c24 !important;
}
/* line 193, ../sass/_dashboard.scss */
.dashboard .blog-training .blog:hover .left {
  color: #ed1c24 !important;
}
/* line 198, ../sass/_dashboard.scss */
.dashboard .blog-training .blog .left {
  width: 100%;
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  /* line 198, ../sass/_dashboard.scss */
  .dashboard .blog-training .blog .left {
    width: 80%;
  }
}
/* line 207, ../sass/_dashboard.scss */
.dashboard .blog-training .blog .right {
  position: relative;
  width: 65px;
  text-align: right;
}
@media only screen and (max-width: 767px) {
  /* line 207, ../sass/_dashboard.scss */
  .dashboard .blog-training .blog .right {
    width: 65px;
  }
}
/* line 219, ../sass/_dashboard.scss */
.dashboard .blog-QuickLinks {
  background: #FDDFC0;
  border-radius: 25px;
  color: #000;
  padding: 15px;
  margin-bottom: 15px;
}
/* line 226, ../sass/_dashboard.scss */
.dashboard .blog-QuickLinks .head {
  background: #ed1c24;
  margin-top: -15px;
  color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 12px;
  margin-bottom: 15px;
}
/* line 235, ../sass/_dashboard.scss */
.dashboard .blog-QuickLinks .head .ti {
  position: relative;
  padding-left: 15px;
  padding-top: 5px;
}
/* line 240, ../sass/_dashboard.scss */
.dashboard .blog-QuickLinks .head .ti:before {
  content: '';
  position: absolute;
  border-top: 2px solid white;
  border-left: 2px solid white;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
}
/* line 253, ../sass/_dashboard.scss */
.dashboard .blog-QuickLinks .left {
  display: flex;
  font-size: 15px;
  margin-bottom: 20px;
}
/* line 258, ../sass/_dashboard.scss */
.dashboard .blog-QuickLinks .left img {
  width: auto;
  height: 60px;
}
@media only screen and (max-width: 767px) {
  /* line 258, ../sass/_dashboard.scss */
  .dashboard .blog-QuickLinks .left img {
    height: 50px;
  }
}
/* line 267, ../sass/_dashboard.scss */
.dashboard .blog-QuickLinks .left .text {
  margin: auto;
  text-align: center;
}

/* line 3, ../sass/_listdata.scss */
.listdata .item-category {
  margin-bottom: 18px;
}
/* line 6, ../sass/_listdata.scss */
.listdata .item-category .sub {
  display: inline-block;
  background: #fff;
  color: #f09228;
  border: 1px solid #f09228;
  width: auto;
  padding: 5px 8px;
  border-radius: 50px;
  margin-bottom: 5px;
  font-size: 15px;
  margin-right: 5px;
}
@media only screen and (max-width: 767px) {
  /* line 6, ../sass/_listdata.scss */
  .listdata .item-category .sub {
    font-size: 12px;
    text-align: center;
  }
}
/* line 23, ../sass/_listdata.scss */
.listdata .item-category .sub.active {
  background: #f09228;
  color: white;
}
/* line 30, ../sass/_listdata.scss */
.listdata .item-category .select {
  display: inline-block;
}
/* line 35, ../sass/_listdata.scss */
.listdata .item-image {
  padding: 15px;
  background: #F3F3F4;
  text-align: center;
  border-radius: 10px;
}
/* line 41, ../sass/_listdata.scss */
.listdata .item-image.flex {
  display: flex;
}
/* line 45, ../sass/_listdata.scss */
.listdata .item-image.boder {
  padding: 0px;
  border-radius: 22px;
  overflow: hidden;
}
/* line 50, ../sass/_listdata.scss */
.listdata .item-image.boder:hover {
  padding: 0px;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0px 0px 15px #c3c3c3;
}
/* line 57, ../sass/_listdata.scss */
.listdata .item-image.boder .img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}
/* line 64, ../sass/_listdata.scss */
.listdata .item-image .img {
  height: 110px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  padding: 15px 0;
}
/* line 72, ../sass/_listdata.scss */
.listdata .item-image .text {
  text-align: center;
  min-height: 30px;
  margin: auto;
}

/* line 81, ../sass/_listdata.scss */
table {
  border-collapse: separate !important;
  border-spacing: 0 18px !important;
}
/* line 85, ../sass/_listdata.scss */
table .head {
  color: #f09228;
}
/* line 89, ../sass/_listdata.scss */
table thead {
  color: #f09228;
}
/* line 92, ../sass/_listdata.scss */
table thead th {
  padding: 0px;
}
/* line 98, ../sass/_listdata.scss */
table tbody tr {
  box-shadow: 0px 0px 10px #d4d4d4;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
/* line 105, ../sass/_listdata.scss */
table tbody tr td {
  position: relative;
  padding: 0 !important;
  background: #f3f3f4;
}
/* line 110, ../sass/_listdata.scss */
table tbody tr td:first-child {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
/* line 115, ../sass/_listdata.scss */
table tbody tr td:last-child {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
/* line 120, ../sass/_listdata.scss */
table tbody tr td .tr-col {
  padding: 15px;
}
/* line 123, ../sass/_listdata.scss */
table tbody tr td .tr-col .img {
  height: 50px;
  width: 100px;
  object-fit: contain;
}
/* line 131, ../sass/_listdata.scss */
table tbody tr td span.me {
  opacity: 0;
  color: #f09228;
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 139, ../sass/_listdata.scss */
table tbody tr td span.me.active {
  opacity: 1;
}

/* line 2, ../sass/_news.scss */
.list-news .item-image {
  display: flex;
  background: #F3F3F4;
  border-radius: 20px;
}
/* line 7, ../sass/_news.scss */
.list-news .item-image .left {
  width: 40%;
}
/* line 10, ../sass/_news.scss */
.list-news .item-image .left img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 20px;
}
/* line 18, ../sass/_news.scss */
.list-news .item-image .right {
  font-size: 15px;
  padding: 15px;
  width: 60%;
}
/* line 23, ../sass/_news.scss */
.list-news .item-image .right .hed {
  color: #f09228;
}
/* line 27, ../sass/_news.scss */
.list-news .item-image .right .text {
  font-size: 12px;
}
/* line 31, ../sass/_news.scss */
.list-news .item-image .right .read {
  display: flex;
  margin-top: 10px;
}
/* line 35, ../sass/_news.scss */
.list-news .item-image .right .read .w {
  width: 50%;
}
/* line 38, ../sass/_news.scss */
.list-news .item-image .right .read .w span {
  font-size: 11px;
}

/* line 48, ../sass/_news.scss */
.detail-news img {
  border-radius: 20px;
}
/* line 52, ../sass/_news.scss */
.detail-news .detail {
  border-radius: 20px;
  background: #F3F3F4;
  padding: 15px;
}
/* line 53, ../sass/_news.scss */
.detail-news .detail .hed {
  color: #F09228;
}
