@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
}

section {
  width: 100%;
  height: 100vh;
  background: #ef8f27;
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)); */
  background-size: cover;
  background-position: center;
}

.col {
  width: 30%;
  display: inline-block;
  padding: 0 0px;
}
.col.w1 {
  width: 20%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  text-align: center;
}

.login-form {
  background: rgb(255, 255, 255);
  position: relative;
  box-sizing: border-box;
  padding: 25px 30px;
  transition: 0.5s;
  border-radius: 10px;
}

.login-form:hover {
  /* background-color: rgba(255, 255, 255, 0.1); */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.login-form h1 {
  margin: 0 0 20px;
  color: rgb(239, 143, 39);
  font-size: 30px;
  text-transform: uppercase;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 25px;
  outline: none;
  font-size: 14px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  /* text-transform: uppercase; */
  border: none;
  background-color: rgb(221, 221, 221);
  /* font-family: 'Roboto Condensed', sans-serif; */
}

.login-form input::placeholder {
  color: white;
}

.login-form input[type="submit"] {
  color: white;
  background-color: rgb(96, 96, 96);
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: rgb(48, 48, 48);
}

.login-form a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
