
.dashboard {
    .banner {
        width: 100%;
        height: 130px;
        object-fit: cover;
        object-position: left;
    }

    .bloge-menu {
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px #a0a0a0;
        border-radius: 18px;
        overflow: hidden;

        @media only screen and (max-width: 767px) {
            margin-bottom: 0;
        }

        &.disable {
            background: rgb(94, 94, 94);
            img, .text {
                opacity: .3;
            }
        }

        &:hover {
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 10px #a0a0a0;
            }

            img {
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
                -webkit-transition: all 0.5s ease-in;
                -moz-transition: all 0.5s ease-in;
                -o-transition: all 0.5s ease-in;
                transition: all 0.5s ease-in;
            }

            .text {
                background: rgb(237, 28, 36);
            }

        }

        img {
            height: 130px;
            object-fit: cover;
            @media only screen and (max-width: 767px) {
                height: 100px;
            }
        }

        .text {
            position: relative;
            z-index: 9;
            background: rgb(240, 146, 40);
            color: rgb(255, 255, 255);
            padding: 5px 12px;
            font-size: 20px;
            border-radius: 0px 0px 15px 15px;

            @media only screen and (max-width: 991px) {
                font-size: 18px;
            }

            @media only screen and (max-width: 767px) {
                font-size: 12px;
            }

        }
    }

    .new-list {
        display: flex;
        box-shadow: 0px 0px 10px #d0d0d0;
        border: 3px solid rgb(240, 146, 40);
        border-radius: 25px;
        padding: 15px;
        margin-bottom: 15px;
        color: rgb(0, 0, 0);

        &:hover {
            box-shadow: 0px 0px 10px #a0a0a0;
        }

        .left {
            font-size: 18px;

            @media only screen and (max-width: 767px) {
                width: 70%;
                font-size: 15px;
            }

            img {
                width: 70px;

                @media only screen and (max-width: 767px) {
                    width: 50px;
                }
            }

            .text {
                display: contents;
            }
        }

        .right {
            border-left: 3px solid rgb(240, 146, 40);
            text-align: center;
            margin-left: auto;
            padding: 0px 12px;

            @media only screen and (max-width: 767px) {
                width: 30%;
            }

            p {
                margin: 0;

                &.int {
                    font-size: 35px;
                    line-height: 1;

                    @media only screen and (max-width: 767px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .blog-training {
        background: #F3F3F4;
        border-radius: 25px;
        color: #000;
        padding: 15px;
        margin-bottom: 15px;

        button {
            font-size: 12px;
            border: 1px solid rgb(240, 146, 40);
            min-height: 75px;

            &.scale {
                -webkit-animation: scale 0.8s infinite ease-in;
                -moz-animation: scale 0.8s infinite ease-in;
                -o-animation: scale 0.8s infinite ease-in;
                animation: scale 0.8s infinite ease-in;
            }

            @media only screen and (max-width: 767px) {
            }
        }

        .head {
            position: relative;
            padding-left: 15px;
            padding-top: 5px;

            &:before {
                content: '';
                position: absolute;
                border-top: 2px solid rgb(240, 146, 40);
                border-left: 2px solid rgb(240, 146, 40);
                width: 25px;
                height: 25px;
                left: 0;
                top: 0;
            }
        }

        .blog {
            display: flex;
            border-bottom: 2px solid rgb(240, 146, 40);
            padding-bottom: 18px;
            margin-bottom: 18px;

            &:hover {
                .right .success-stroke {
                    stroke: rgb(237, 28, 36) !important;
                }

                .left {
                    color: rgb(237, 28, 36) !important;
                }
            }

            .left {
                width: 100%;
                font-size: 14px;

                @media only screen and (max-width: 767px) {
                    width: 80%;
                }
            }

            .right {
                position: relative;
                width: 65px;
                text-align: right;

                @media only screen and (max-width: 767px) {
                    width: 65px;
                }
            }
        }
    }

    .blog-QuickLinks {
        background: #FDDFC0;
        border-radius: 25px;
        color: #000;
        padding: 15px;
        margin-bottom: 15px;

        .head {
            background: rgb(237, 28, 36);
            margin-top: -15px;
            color: rgb(255, 255, 255);
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            padding-top: 12px;
            margin-bottom: 15px;

            .ti {
                position: relative;
                padding-left: 15px;
                padding-top: 5px;

                &:before {
                    content: '';
                    position: absolute;
                    border-top: 2px solid rgb(255, 255, 255);
                    border-left: 2px solid rgb(255, 255, 255);
                    width: 25px;
                    height: 25px;
                    left: 0;
                    top: 0;
                }
            }
        }

        .left {
            display: flex;
            font-size: 15px;
            margin-bottom: 20px;

            img {
                width: auto;
                height: 60px;

                @media only screen and (max-width: 767px) {
                    height: 50px;
                }
            }

            .text {
                margin: auto;
                text-align: center;
            }
        }
    }

}